@charset "utf-8";

// Define defaults for each variable.

// $base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-family: "Beaufort for LOL";
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #F0E6D2 !default;
$background-color: #0A0A0C !default;
$brand-color:      #C2A658 !default;

$grey-color:       #A09B8C !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    930px !default;
$on-palm:          700px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

//my code
@mixin box-normal{
  border: 1px solid #31271E;
  background: #111318;
}

@mixin box-hover{
  transition: border 0.3s;
  border-color: $brand-color;
}

@mixin box-invisible {
  border-color: $background-color;
  background: $background-color;
}

@mixin transition-anim {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.alt-text {
  font-family: $base-font-family;
  font-weight: 600 !important;
  color: $brand-color;
}

.maincont {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  row-gap: 15px;

  @include media-query($on-laptop) {
    margin: 100px 50px;
  }

  @include media-query($on-palm) {
    margin:0 0 50vh 0;
  }

  .layer1 {
    display: inline-grid;
    grid-template-columns: auto auto;

    @include media-query($on-palm) {
      row-gap: 15px;
      grid-template-columns: 1fr;
    }

    .left {
      display: inline-grid;
      grid-template-columns: auto 1fr;
      column-gap: 15px;
      row-gap: 15px;
      justify-content: center;

      .socials {
        display: grid;
        gap: 15px;

        & > a {
          display: grid;
          place-items: center;
          min-width: 60px;
          min-height: 60px;
          @include box-normal();
        }
        & > a:hover {
          @include box-hover();
        }
      }
      .profile-pic {
        min-width: 214px;
        min-height: 214px;
        @include box-normal();
        display: grid;
        place-items: center;

        .circle-outer {
          width: 180px;
          height: 180px;
          border-radius: 100%;
          border: 1px solid transparent;
          background: linear-gradient(#111318, #111318) padding-box,
                      linear-gradient(180deg, rgba(66,55,20,1) 0%, rgba(195,182,128,1) 50%, rgba(66,55,20,1) 100%) border-box;
          display: grid;
          place-items: center;

          .circle-inner {
            display: grid;
            place-items: center;
            width: 168px;
            height: 168px;
            border-radius: 100%;
            border: 3px solid transparent;
            background: linear-gradient(#111318, #111318) padding-box,
                        linear-gradient(180deg, rgba(66,55,20,1) 0%, rgba(195,182,128,1) 50%, rgba(66,55,20,1) 100%) border-box;
            & > img {
              width: 160px;
              height: 160px;
              border-radius: 100%;
            }
          }
        }
      }
    }
    .profile {
      display: grid;
      align-items: center;
      @include box-normal();

      .profile-desc {
        padding:30px;
      }
    }
  }
  .layer2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-items: stretch;
    grid-auto-flow: row;

    @include media-query($on-laptop) {
      grid-template-columns: auto;
    }

    .item-preview {
      
      & > .thumbnail {
        height: 144px;
        @include box-normal();
        overflow: hidden;
        filter: grayscale(100%);
      }

      & > .thumbnail:hover {
        @include transition-anim();
        filter: grayscale(0);
      }

      & > .desc {
        @include box-normal();
        padding: 30px;
        height: 130px;
        text-align: center;

        @include media-query($on-laptop) {
          height: auto;
        }

        & > .title {
          color: #F0E6D2;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 4px;
        }

        & > div {
          & > .tag {
            color: $brand-color;
            margin: 4px;
            font-family: Spiegel;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
    .item-preview:hover {
      @include box-hover();
    }
  }
  .layer3 {
    justify-self: center;

    & > div {
      border: 1px solid #C2A658;
      padding: 4px;
      
      & > a {
        display: block;
        padding: 12px 42px;

        background: linear-gradient(180deg, #14232A 0%, #0B374A 100%);  
        border: 3px solid;
        border-image: linear-gradient(180deg, #0AC8B9, #005A82) 1;

        text-align:center;
        text-transform: uppercase;
        font-weight: 500;
      }

      & > a:hover {
        @include transition-anim();
        text-decoration: none;
        cursor: pointer;
        background: linear-gradient(180deg, #0B374A 0%, #14232A 100%);  
        border: 3px solid #0AC8B9;
      }

      & > a:active {
        @include transition-anim();
        text-decoration: none;
        cursor: pointer;
        border: 3px solid #111318;
        background: #111318;
      }
    }
    & > div:active {
      background: #111318;
    }
  }
}