@font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-Bold.ttf);
   font-weight: 700;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-BoldItalic.ttf);
   font-weight: 700;
   font-style: italic;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-Heavy.ttf);
   font-weight: 900;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-HeavyItalic.ttf);
   font-weight: 900;
   font-style: italic;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-Italic.ttf);
   font-style: italic;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-Light.ttf);
   font-weight: 300;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-LightItalic.ttf);
   font-weight: 300;
   font-style: italic;
 }
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-Medium.ttf);
   font-weight: 500;
 }
 
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-MediumItalic.ttf);
   font-weight: 500;
   font-style: italic;
 }
 
 
 @font-face {
   font-family: Beaufort;
   src: url(fonts/BeaufortforLOL-Regular.ttf);
   font-style: 400;
 }
 
 
 @font-face {
   font-family: Spiegel;
   src: url(fonts/Spiegel_TT_Bold_Italic.ttf);
   font-weight: 700;
   font-style: italic;
 }
 
 @font-face {
   font-family: Spiegel;
   src: url(fonts/Spiegel_TT_Bold.ttf);
   font-weight: 700;
 }
 
 @font-face {
   font-family: Spiegel;
   src: url(fonts/Spiegel_TT_Regular_Italic.ttf);
   font-style: italic;
   font-weight: 400;
 }
 
 
 @font-face {
   font-family: Spiegel;
   src: url(fonts/Spiegel_TT_Regular.ttf);
   font-weight: 400;
 }
 
 @font-face {
   font-family: Spiegel;
   src: url(fonts/Spiegel_TT_SemiBold_Italic.ttf);
   font-weight: 600;
   font-style: italic;
 }
 
 
 @font-face {
   font-family: Spiegel;
   src: url(fonts/Spiegel_TT_SemiBold.ttf);
   font-weight: 600;
 }