---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@mixin box-normal {
   border: 1px solid #31271e;
   background: #111318;
}

@mixin box-hover {
   transition: border 0.3s;
   border-color: $brand-color;
}

@mixin box-invisible {
   border-color: $background-color;
   background: $background-color;
}

@mixin transition-anim {
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
}

::selection {
   color: $background-color;
   background: $brand-color;
}

.alt-text {
   font-family: $base-font-family;
   font-weight: 600 !important;
   color: $brand-color;
}

.navbar.active {
   @include media-query($on-laptop) {
      height: 200px;
   }
}
.navbar {
   background: $background-color;

   @include media-query($on-laptop) {
      height: 58px;
      overflow: hidden;
      top:0;
      position: sticky;
      z-index: 999999999;
   }

   & > .menu {
      display: none;
      color: $grey-color;
      text-align: end;
      padding: 16px 32px;

      @include media-query($on-laptop) {
         display: block;
      }
   }

   & > .menu:hover {
      cursor: pointer;
   }

   & > .links {
      display: flex;
      // justify-content: flex-start;
      justify-content: center;
      gap: 16px;

      @include media-query($on-laptop) {
         flex-flow: column;
      }

      & > a {
         padding: 16px 32px;
         text-transform: capitalize;
         border-bottom: 2px solid $background-color;
         @include media-query($on-laptop) {
            text-align: center;
         }
      }

      & > a:hover {
         @include transition-anim();
         text-decoration: none;
         border-bottom: 2px solid $brand-color;
         background: linear-gradient(180deg, $background-color 0%, #111318 100%);
      }
   }
}
.maincont {
   margin-top: 100px;
   margin-bottom: 100px;
   display: grid;
   row-gap: 15px;

   @include media-query($on-laptop) {
      margin: 100px 50px;
   }

   @include media-query($on-palm) {
      margin: 0 0 50vh 0;
   }

   .layer1 {
      display: inline-grid;
      grid-template-columns: auto auto;

      @include media-query($on-palm) {
         row-gap: 15px;
         grid-template-columns: 1fr;
      }

      .left {
         display: inline-grid;
         grid-template-columns: auto 1fr;
         column-gap: 15px;
         row-gap: 15px;
         justify-content: center;

         .socials {
            display: grid;
            gap: 15px;

            & > a {
               display: grid;
               place-items: center;
               min-width: 60px;
               min-height: 60px;
               @include box-normal();
            }
            & > a:hover {
               @include box-hover();
            }
         }
         .profile-pic {
            min-width: 214px;
            min-height: 214px;
            @include box-normal();
            display: grid;
            place-items: center;

            .circle-outer {
               width: 180px;
               height: 180px;
               border-radius: 100%;
               border: 1px solid transparent;
               background:
                  linear-gradient(#111318, #111318) padding-box,
                  linear-gradient(180deg, rgba(66, 55, 20, 1) 0%, rgba(195, 182, 128, 1) 50%, rgba(66, 55, 20, 1) 100%)
                     border-box;
               display: grid;
               place-items: center;

               .circle-inner {
                  display: grid;
                  place-items: center;
                  width: 168px;
                  height: 168px;
                  border-radius: 100%;
                  border: 3px solid transparent;
                  background:
                     linear-gradient(#111318, #111318) padding-box,
                     linear-gradient(
                           180deg,
                           rgba(66, 55, 20, 1) 0%,
                           rgba(195, 182, 128, 1) 50%,
                           rgba(66, 55, 20, 1) 100%
                        )
                        border-box;
                  & > img {
                     width: 160px;
                     height: 160px;
                     border-radius: 100%;
                  }
               }
            }
         }
      }
      .profile {
         display: grid;
         align-items: center;
         @include box-normal();

         .profile-desc {
            padding: 30px;
         }
      }
   }
   .layer2 {
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
      justify-items: stretch;
      grid-auto-flow: row;

      @include media-query($on-laptop) {
         grid-template-columns: auto;
      }

      .item-preview {
         a {
            & > .thumbnail {
               height: 144px;
               width: 100%;
               @include box-normal();
               overflow: hidden;
               filter: grayscale(100%);

               img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
               }
            }

            & > .desc {
               @include box-normal();
               padding: 30px;
               height: 130px;
               text-align: center;

               @include media-query($on-laptop) {
                  height: auto;
               }

               & > .title {
                  color: #f0e6d2;
                  font-size: 18px;
                  text-transform: uppercase;
                  margin-bottom: 4px;
               }

               & > div {
                  & > .tag {
                     color: $brand-color;
                     margin: 4px;
                     font-family: Spiegel;
                     font-size: 12px;
                     text-transform: uppercase;
                  }
               }
            }
         }
      }
      .item-preview:hover {
         cursor: pointer;
         a {
            text-decoration: none;
            & > .thumbnail {
               @include transition-anim();
               filter: grayscale(0);
            }
         }
      }
   }
   .layer3 {
      justify-self: center;

      & > div {
         border: 1px solid #c2a658;
         padding: 4px;

         & > a {
            display: block;
            padding: 12px 42px;

            background: linear-gradient(180deg, #14232a 0%, #0b374a 100%);
            border: 3px solid;
            border-image: linear-gradient(180deg, #0ac8b9, #005a82) 1;

            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
         }

         & > a:hover {
            @include transition-anim();
            text-decoration: none;
            cursor: pointer;
            background: linear-gradient(180deg, #0b374a 0%, #14232a 100%);
            border: 3px solid #0ac8b9;
         }

         & > a:active {
            @include transition-anim();
            text-decoration: none;
            cursor: pointer;
            border: 3px solid #111318;
            background: #111318;
         }
      }
      & > div:active {
         background: #111318;
      }
   }
}

.filter-navbar {
   display: grid;
   place-items: center;
   margin-top: 32px;

   .button-group {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      justify-content: center;

      @include media-query($on-palm) {
         top: 0;
         background: $background-color;
         flex-wrap: wrap;
         justify-content: center;
      }

      & > a {
         cursor: pointer;
         text-decoration: none;
         text-transform: capitalize;
         font-weight: 500;

         @include box-normal();
         border-radius: 30px;
         padding:6px 24px;
         font-size: 14px;
         text-align: center;
      }
      & > a:hover,
      a.button.active {
         @include transition-anim();
         background: $brand-color;
         color: $background-color;
      }
   }
}

.list-container {
   margin: 30px 0 200px 0;
   display: grid;
   justify-items: center;

   .projects-list {
      width: 750px;

      @include media-query($on-laptop) {
         width: 690px;
      }

      @include media-query($on-palm) {
         width: 100%;
      }

      .element-item {
         margin: 8px;
         width: 356px;
         @include box-normal();

         @include media-query($on-laptop) {
            width: 326px;
         }

         @include media-query($on-palm) {
            width: 97%;
         }

         .thumbnail {
            height: 144px;
            width: auto;
            overflow: hidden;
            filter: grayscale(100);

            img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         .details {
            padding: 30px;

            .post-meta {
               text-transform: uppercase;
               margin-bottom: 16px;
               font-weight: 600;
               font-family: Spiegel;
            }

            .post-title {
               & > a {
                  text-transform: uppercase;
                  font-family: Beaufort;
                  font-weight: 500;
                  font-size: 21px;
                  letter-spacing: 0.5px;
                  line-height: normal;
                  color: $text-color;
               }
               & > a:hover {
                  text-decoration: none;
               }
            }

            & > p {
               font-family: Spiegel;
            }

            .tag {
               color: $brand-color;
               margin: 4px 4px 4px 0;
               font-family: Spiegel;
               font-size: 12px;
               text-transform: uppercase;
            }
         }
      }

      .element-item:hover {
         @include box-hover();
         @include transition-anim();
         cursor: pointer;

         .thumbnail {
            filter: grayscale(0);
         }
      }
   }
}

.post {
   margin-top: 50px;

   .post-title {
      text-transform: capitalize;
      margin-top: 32px;
   }

   .post-meta {
      font-family: Spiegel;
   }

   .tag {
      color: $brand-color;
      margin: 4px 4px 4px 0;
      font-family: Spiegel;
      font-size: 12px;
      text-transform: uppercase;
   }
}