---
layout: default
---

<div class="home">
  <div class="maincont">
    <div class="layer1">
      <div class="left">
        <div class="socials">
          {% for socials in site.socials %}
            <a href="{{socials.link}}">{{socials.svg}}</a>
          {% endfor %}
        </div>
        <div class="profile-pic">
          <div class="circle-outer">
            <div class="circle-inner">
              <img src="assets/images/pfp.png">
            </div>
          </div>
        </div>
      </div>
      <div class="profile">
        <div class="profile-desc">
          <span>My name is <span class="alt-text">Jamaica Alberto</span> and I am currently a graduating student of Bachelor of Science in Computer Science with Specialization in Data Science at Mapua University. I am passionate about keeping things organized, efficient, and pretty  — my foundation on what drove me to aspire to be a data scientist.<br><br>I love the arts, literature, music, urban planning, and gaming ♡</span>
        </div>
      </div>
    </div>
    <div class="layer2">
      {% for project in site.featured %}
        <div class="item-preview">
          <div class="thumbnail"></div>
          <div class="desc">
            <div class="title">{{project.title}}</div>
            <div>
              {% for tag in project.tags %}
                <span class="tag">{{tag}}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="layer3">
      <a>view projects</a>
    </div>
  </div>
  
<!---
  {%- comment -%} {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%} {%- endcomment -%}
-->
</div>